<body>
    <section class="logo">
        <img class="img-box" src="https://app.utmachala.edu.ec/denuncias/public/img/logo.png" width="20%" alt="">
        <h1>Universidad Técnica de Machala</h1>
        <h4>En esta pagina web fue creada para hacer una pagina responsiva y <br>utilice mi biografia como ejemplo para el trabajo.
            <br><br> Para ver mi biografia puede darle al boton de abajo o <br> puede darle clic al apartado de arriba que dice "Biografia".
        </h4>
        <br>
        <a class="btn btn-primary" href="biografia" role="button"> Ver Biografia </a>
    </section>
    <br><br><br><br>
</body>