<section class="fondo">
    <br>
    <section class="box">
        <h3>Informacion Personal</h3>
        <br>
        <img class="img-box" src="https://app.utmachala.edu.ec/denuncias/public/img/logo.png" width="100" alt="">
        <br>
        <h3>Docente</h3>
        <h6>Valarezo Pardo Milton Rafael</h6>
        <br>
        <h3>Estudiante</h3>
        <h6>Reyes Pérez Alex Eduardo</h6>
        <br>
        <img class="img-box2" src="https://scontent.fgye7-1.fna.fbcdn.net/v/t39.30808-6/351903989_985168552513778_9074229043577060000_n.jpg?stp=dst-jpg_s640x640&_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGZ2TbOkg2oDPLR2cwHxA1HWZ2aSCD7gDdZnZpIIPuANxOY0h4aE5cjLaq7dGIuXNZfSgltS9bjNAn_B2QvD3Ch&_nc_ohc=9gpI_2CUVM8AX8ZC1U_&_nc_ht=scontent.fgye7-1.fna&oh=00_AfAmAnjokk_ZTfFVLFJ-a0vCGaj-tj3gEFl5cHdBIKO_Dg&oe=6494AEC1"
            width="110" alt="">
        <br><br>
        <p class="info1">Mi nombre es Alex Eduardo Reyes Pérez, estudio en la Universidad Tecnica de Machala, me gustan los videojuegos,la musica y las peliculas de accion y comedia mi actitud siempre es positiva, me gusta ayudar a las personas cuando tienen algun problema,
            no me gustan generar ningun problema con alguna persona.
            <br><br> Vivo en Babahoyo en el canton Los Rios pero por el momento estoy viviendo en Machala en la casa de mis familiares por la situacion del Estudio</p>
    </section>
    <section class="box2">
        <p class="h3">Cosas que me gustan</p><br>
        <section class="box2-1">
            <table class="card">
                <tbody align="center">
                    <tr>
                        <td>Jugar Videojuegos</td>
                    </tr>
                    <tr>
                        <td>Escuchar musica</td>
                    </tr>
                    <tr>
                        <td>Ver Peliculas</td>
                    </tr>
                    <tr>
                        <td>Estudiar programación</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br>
    </section>
    <section class="box3">
        <p class="h3" color>Cosas que me disgustan</p><br>
        <section class="box3-1">
            <table class="card">
                <tbody align="center">
                    <tr>
                        <td>Que sean ostigosos</td>
                    </tr>
                    <tr>
                        <td>La bulla</td>
                    </tr>
                    <tr>
                        <td>Interrumpir cuando Estudio</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br>
    </section>
    <br>
</section>